.navbar {
  display: flex;
  border-radius: 0px;
  background-color: #00b7ff;
  text-transform: uppercase;
  text-decoration: none !important;
}

.navbar__link {
  margin: 1em;
  font-size: 2em;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  text-decoration: none !important;
  letter-spacing: 0.3em;
  text-indent: 0.3em;
  color: #181818;
  border-bottom: 3px solid transparent;
}

.p-2 {
  display: grid;
  justify-content: center;
}

.navbar__link:hover {
  transform: translateY(-2px);
}

.navbar__link--active {
  border-bottom: 1px solid #ffffff;
  transition: ease-in 0.5 ms;
  color: #00b7ff;
  font-size: 14px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  text-decoration: none !important;
  -webkit-transition: all ease-in 133ms;
  -moz-transition: all ease-in 133ms;
  -o-transition: all ease-in 133ms;
  -ms-transition: all ease-in 133ms;
  transition: all ease-in 133ms;
  border-bottom: 1px solid #00b7ff;
}
