.navbar {
  display: flex;
  justify-content: right;
  align-items: right;
  border-radius: 10px;
  background-color: #eceff1;
  text-transform: uppercase;
}

.navbrand {
  text-transform: none;
}

.navbar__link {
  margin: 1em;
  font-size: 2em;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: 0.3em;
  text-indent: 0.3em;
  color: #181818;
  border-bottom: 3px solid transparent;
}

.navbar__link:hover {
  transform: translateY(-2px);
}

.navbar__link--active {
  border-bottom: 1px solid #9b9b9b;
  transition: ease-in 0.5 ms;
  color: #2ab9d8;
  font-size: 14px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: all ease-in 133ms;
  -moz-transition: all ease-in 133ms;
  -o-transition: all ease-in 133ms;
  -ms-transition: all ease-in 133ms;
  transition: all ease-in 133ms;
  border-bottom: 1px solid #2ab9d8;
}
